In [18]:
import warnings
warnings.filterwarnings('ignore')

# Задание 1

Загрузите данные train.csv, разделите выборку на обучающую и тестовую части в соотношении 70% / 30% без перемешивания. Найдите среднее значение для признака payment_amount и запишите его в переменную result

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [20]:
data = pd.read_csv('./train.csv')
data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [21]:
train, test = train_test_split(data, test_size=0.3, shuffle=False)

In [22]:
print(f'Определение среднего значения для признака payment_amount.\nСреднее значение исходной выборки: {data["payment_amount"].mean()}\nСреднее значение тренировочной выборки: {train["payment_amount"].mean()}\nСреднее значение тестовой выборки: {test["payment_amount"].mean()}')

Определение среднего значения для признака payment_amount.
Среднее значение исходной выборки: 48.898986440596715
Среднее значение тренировочной выборки: 55.224980309792606
Среднее значение тестовой выборки: 34.138390241304

# Задание 2

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', затем избавьтесь от пропусков. Целевой переменной будет 'balance_due', разделите данные на обучающую и тестовую выборки в соотношении 70% / 30% без перемешивания. Обучите линейную регрессию из scikit-learn и запишите в переменную result значение метрики RMSE на тестовой выборке.

In [32]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [33]:
data = pd.read_csv('./train.csv')
data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [34]:
data = data.loc[:, ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due']]
data = data.dropna()
data.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due
0        250.0       10.0      25.0              0.0        305.0
1        750.0       10.0      75.0              0.0         75.0
2        250.0        0.0       0.0              0.0          0.0
3        250.0        0.0       0.0              0.0          0.0
4        250.0        0.0       0.0              0.0          0.0

In [35]:
y = data['balance_due']
X = data.drop(['balance_due'], 1)
x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, shuffle=False)

In [37]:
model = LinearRegression()
model.fit(x_train, y_train)
y_pred = model.predict(x_valid)

In [38]:
print('RMSE =', np.sqrt(mean_squared_error(y_valid,y_pred)))

RMSE = 132.08033445898997

# Задание 3

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance', затем избавьтесь от пропусков. Целевой переменной будет 'compliance', разделите данные на обучающую и тестовую выборки в соотношении 70%/30% без перемешивания. Обучите DecisionTreeClassifier из scikit-learn с параметром random_state=23. Посчитайте значения метрики F1 на тренировочной выборке и на тестовой выборке. Вычтите из значения метрики на тренировочной выборки значение метрики на тестовой выборке и запишите результат в переменную result.

In [47]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

In [48]:
data = pd.read_csv('./train.csv')
data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [49]:
data = data.loc[:, ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
data = data.dropna()
data.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due  compliance
0        250.0       10.0      25.0              0.0        305.0         0.0
1        750.0       10.0      75.0              0.0         75.0         1.0
5        250.0       10.0      25.0              0.0        305.0         0.0
6        750.0       10.0      75.0              0.0        855.0         0.0
7        100.0       10.0      10.0              0.0        140.0         0.0

In [50]:
y = data['compliance']
X = data.drop(['compliance'], 1)
x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, shuffle=False)

In [51]:
tree = DecisionTreeClassifier(random_state=23)

In [52]:
tree.fit(x_train,y_train)
train_pred = tree.predict(x_train)
train_f1_score = f1_score(y_train,train_pred)
print('f1_score для train =',train_f1_score)

tree.fit(x_valid,y_valid)
test_pred = tree.predict(x_valid)
test_f1_score = f1_score(y_valid,test_pred)
print('f1_score для train =',test_f1_score)

f1_score для train = 0.6607803184665308
f1_score для train = 0.6163717674509042

In [53]:
result = train_f1_score - test_f1_score
result

0.044408551015626685

# Задание 4

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance', затем избавьтесь от пропусков. Обучим модель на несбалансированных данных. Целевой переменной будет 'compliance', разделите данные на обучающую и тестовую выборки в соотношении 70%/30% без перемешивания. Обучите DecisionTreeClassifier из scikit-learn с параметром random_state=23. Посчитайте значение метрики F1 на тестовой выборке. 
Затем, сделайте эту же выборку сбалансированной с помощью undersampling. Для этого посчитайте количество примеров (n) класса-меньшинства, затем из класса-большинства возьмите n первых примеров. То есть, в терминологии Python, возьмите срез (slice) от начала и до n, где n - количество примеров класса, которого в выборке представлено меньше. Соедините две части выборки (с уменьшенным классом-большинством и с изначальным классом-меньшинством), сделайте точно такое же разбиение, как в задаче выше, и обучите такую же модель. Посчитайте значение метрики F1 на новой тестовой выборке с помощью новой модели.

In [54]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score

In [55]:
data = pd.read_csv('./train.csv')
data.head()

,ticket_id,agency_name,inspector_name,violator_name,violation_street_number,violation_street_name,violation_zip_code,mailing_address_str_number,mailing_address_str_name,city,...,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,grafitti_status,compliance_detail,compliance
0,22056,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900.0,TYLER,NaN,3.0,S. WICKER,CHICAGO,...,0.0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,NaN,non-compliant by no payment,0.0
1,27586,"Buildings, Safety Engineering & Env Department","Williams, Darrin","Michigan, Covenant House",4311.0,CENTRAL,NaN,2959.0,Martin Luther King,Detroit,...,0.0,855.0,780.0,75.0,2005-06-02 00:00:00,PAID IN FULL,NaN,NaN,compliant by late payment within 1 month,1.0
2,22062,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","SANDERS, DERRON",1449.0,LONGFELLOW,NaN,23658.0,P.O. BOX,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
3,22084,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","MOROSI, MIKE",1441.0,LONGFELLOW,NaN,5.0,ST. CLAIR,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN
4,22093,"Buildings, Safety Engineering & Env Department","Sims, Martinzie","NATHANIEL, NEAL",2449.0,CHURCHILL,NaN,7449.0,CHURCHILL,DETROIT,...,0.0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN,not responsible by disposition,NaN

In [56]:
data = data.loc[:, ['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
data = data.dropna()
data.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due  compliance
0        250.0       10.0      25.0              0.0        305.0         0.0
1        750.0       10.0      75.0              0.0         75.0         1.0
5        250.0       10.0      25.0              0.0        305.0         0.0
6        750.0       10.0      75.0              0.0        855.0         0.0
7        100.0       10.0      10.0              0.0        140.0         0.0

In [ ]:
y = data['compliance']
X = data.drop(['compliance'], 1)
x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, shuffle=False)

In [57]:
tree = DecisionTreeClassifier(random_state=23)

In [58]:
tree.fit(x_train,y_train)
train_pred = tree.predict(x_train)
train_f1_score = f1_score(y_train,train_pred)
print('f1_score для train =',train_f1_score)

f1_score для train = 0.6607803184665308

In [60]:
unique_compliance, counts_compliance = np.unique(data['compliance'], return_counts=True)
print(dict(zip(unique_compliance, counts_compliance)))

min_count = min(counts_compliance)

{0.0: 148283, 1.0: 11597}

In [61]:
balanced_data = pd.DataFrame([])

for i in range(unique_compliance.shape[0]):
    new_data = data.loc[data['compliance'] == i][:min_count]
    balanced_data = pd.concat([balanced_data, new_data])

balanced_data

,fine_amount,state_fee,late_fee,discount_amount,balance_due,compliance
0,250.0,10.0,25.0,0.0,305.0,0.0
5,250.0,10.0,25.0,0.0,305.0,0.0
6,750.0,10.0,75.0,0.0,855.0,0.0
7,100.0,10.0,10.0,0.0,140.0,0.0
8,100.0,10.0,10.0,0.0,140.0,0.0
...,...,...,...,...,...,...
250186,200.0,10.0,20.0,0.0,0.0,1.0
250210,200.0,10.0,0.0,0.0,0.0,1.0
250211,200.0,10.0,0.0,0.0,0.0,1.0
250265,0.0,10.0,0.0,0.0,0.0,1.0
250290,200.0,10.0,0.0,0.0,0.0,1.0

In [62]:
y = balanced_data['compliance']
X = balanced_data.drop(['compliance'], 1)
x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, shuffle=False)

In [63]:
tree = DecisionTreeClassifier(random_state=23)

In [64]:
tree.fit(x_train,y_train)
train_pred = tree.predict(x_train)
train_f1_score = f1_score(y_train,train_pred)
print('f1_score для train =',train_f1_score)

f1_score для train = 0.9225366245233796